<table class="w-3/4 m-2 bg-white text-sm">
  <thead class="ltr:text-left rtl:text-right">
    <tr>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
        Dátum
      </th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Név</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">Fő</th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
        Helyszín
      </th>
      <th class="whitespace-nowrap px-4 py-2 font-medium text-gray-900">
        Irányítószám
      </th>
    </tr>
  </thead>

  <tbody class="p-4">
    <tr class="border rounded-lg h-16">
      <td class="whitespace-nowrap px-4 py-2 text-center text-gray-700">
        2024.01.06
      </td>
      <td
        class="whitespace-nowrap px-4 py-2 text-center font-medium text-gray-900"
      >
        John Doe
      </td>

      <td class="whitespace-nowrap px-4 py-2 text-center text-gray-700">14</td>
      <td class="whitespace-nowrap px-4 py-2 text-center text-gray-700">
        Budapest
      </td>
      <td class="whitespace-nowrap px-4 py-2 text-center text-gray-700">
        1116
      </td>

      <td
        class="whitespace-nowrap flex flex-auto justify-center py-4 text-center text-gray-700"
      >
        <button
          class="h-8 w-8 mr-4 border flex justify-center items-center rounded hover:bg-yellow-300 hover:border-yellow-200"
        >
          <img src="assets/edit.svg" class="opacity-70 w-4 h-4" />
        </button>
        <button
          class="h-8 w-8 border flex justify-center items-center rounded hover:bg-red-400 hover:border-red-300"
        >
          <img src="assets/trash.svg" class="opacity-70 w-4 h-4" />
        </button>
      </td>
    </tr>
  </tbody>
</table>
