<div class="w-screen flex justify-center mt-4 md:hidden">
  <div
    class="w-3/4 relative bg-indigo-600 px-4 py-3 rounded-lg overflow-hidden shadow-md shadow-indigo-200"
  >
    <div class="flex items-center justify-between">
      <h1 class="font-semibold text-white">John Doe {{ row.id }}</h1>
      <img src="assets/menu-dots-vertical.svg" class="h-4" alt="" />
    </div>

    <p class="text-sm opacity-60 text-white">1118</p>
    <div class="flex mt-3">
      <div
        class="flex items-center border-indigo-600 bg-indigo-800 px-2 py-1 rounded-md mr-2"
      >
        <img src="assets/calendar.svg" class="h-4 mr-2" alt="" />
        <p class="text-white text-sm">2024.01.24</p>
      </div>
      <div
        class="flex items-center border-indigo-600 bg-indigo-800 px-2 py-1 rounded-md"
      >
        <img src="assets/user.svg" class="h-4 mr-1" alt="" />
        <p class="text-white text-sm">16</p>
      </div>
    </div>
    <div class="flex items-center mt-4">
      <img src="assets/marker.svg" class="h-4 mr-1" alt="" />
      <p class="text-sm text-white">Budapest</p>
    </div>
    <img
      class="absolute opacity-5 w-40 right-0 top-0"
      src="assets/puzzle.png"
      alt=""
    />
  </div>
</div>
